body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    background-color: lightgrey;
    margin: .5em;
    padding: .5em;
    border: 1px solid grey;
    border-radius: 5px;
}

.message-info {
    background-color: ;
    color: ;
}

.message-success {
    background-color: ;
    color: ;
}

.message-warning {
    background-color: ;
    color: ;
}

.message-error {
    background-color: ;
    color: ;
}