body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    background-color: lightgrey;
    margin: .5em;
    padding: .5em;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.message-info {
    background-color: #cddeff;
    color: #473c9d;
}

.message-success {
    background-color: #cff3da;
    color: #15723e;
}

.message-warning {
    background-color: #fcfbc9;
    color: #826e02;
}

.message-error {
    background-color: #fad3d7;
    color: #88233c;
}